.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  background: #ebebeb;
  width: 100%;
}

.preview-img-row {
  position: relative;
  margin: 16px;
}
.preview-img {
  width: 100%;
  max-width: 250px;
  margin: 16px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}
.preview-img:hover {
  border-radius: 0px;
  transition: 0.8s;
}

.title {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  cursor: pointer;
}

.footer-seperator {
  border-top: 1px solid #ccc; 
  margin: 80px 160px;
}

.footer-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.footer-links {
  display: block;
  text-align: center;
  margin-top: -12px;
}

.footer-icons {
  align-items: center;
}

.description, .footer-text {
  color: rgb(170, 170, 170);
  font-size: 14px;
  font-weight: 400;
}

.title, .description {
    margin: 16px;
}

